@page "/"
@inject Games Games

<h3>@_gameId</h3>

<Board GameId="_gameId" />

@code {
    private Guid _gameId;
    
    protected override void OnInitialized()
    {
        _gameId = Games.CreateNew();
    }

}